<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Помилка</title>

  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="center">

  <h1>500</h1>

  <p>
    Внутрішня помилка сервера
  </p>

  <a href="/">
    На головну
  </a>

</div>

</body>
</html>
